[submodule "SisHard"]
	path = SisHard
	url = https://github.com/RogerPina2/SisHardSoft.git
[submodule "TransCal"]
	path = TransCaleMecSol/TransCal
	url = https://github.com/RogerPina2/TransCalMecSol.git
